* {
  outline: 1px solid green;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* max-width: 960px; */
  min-height: 100vh;
  margin: 0 auto;
  /* padding: 0 15px; */
  color: #231f20;
  font-family: "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  line-height: 1.25;
}

a {
  background-color: transparent;
  color: #308282;
  text-decoration: underline;
}

a:hover {
  color: #ea1b10;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

svg:not(:root) {
  overflow: hidden;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding-top: 20px;
  padding-bottom: 10px; */
  border-bottom: 1px solid #15151a;
  background-color: #308282;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding-top: 20px;
    padding-bottom: 10px; */
  border-top: 1px solid #15151a;

  margin-top: auto;
  background-color: #308282;
}
