{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/home_page.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="page">

    <header class="header">
        <div> Logo Div</div>
        <nav> Nav Div </nav>
    </header>

    <main class="main">

        <h1> {{ page.title }} </h1>
        <h2> {{ page.subtitle }} </h2>

        <div>
            {{ page.rtfbody|richtext }}
        </div>

        {% image page.bg_image  fill-100x100 as bgimage %}

        {% image page.bg_image  fill-100x100 %}

        <!-- <img src="{{ bgimage.url }}" alt="bgimage.alt"> -->

        <div>

            <a href="{{ bgimage.url }}"> ссылка на картинку с alt {{ bgimage.alt }} </a>
        </div>
    </main>

    <footer class="footer"> This is a Footer </footer>

</div>


{% endblock content %}
